.mini-avatar__photo {
	cursor: pointer;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 45px;
	height: 45px;

	color: var(--text-grey);

	background-color: var(--btn-regular);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border: 1px solid var(--bg-dark);
	border-radius: 50px;

	transition: 0.3s;
}

.mini-avatar__photo:hover {
	border: 1px solid var(--btn-accent);

	transition: 0.3s;
}

.mini-avatar__photo > span {
	font-size: 20px;
}

.light-theme .mini-avatar__photo {
	background-color: transparent;
}
