.paragraph-block {
	position: relative;
}

.paragraph-block__textarea {
	overflow: hidden;
	display: flex;

	width: 100%;

	font-size: 16px;
	font-weight: 100;
	color: var(--text-light);

	background-color: transparent;
}

/* light theme */

.light-theme .paragraph-block__textarea {
	font-weight: 300;
	color: var(--text-dark);
}
